* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --background: #f1fefe;
  --text: #242424;
  --alt-background: #e8f5f5;
  --alt-text: #0527279f;
  --shade: #ccd8db;

  font-family: Roboto;
  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 200;
  width: 100%;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
